*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none ;
    text-decoration: none;
}
.container
{
    width: 90%;
    margin: auto;

}
img{
    width: 100%;
}

/* ----------------landing---------------- */
.landing
{
    background-image: url("images/home.jpg")  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
   
}
.navbar
{
    padding: 30px 0;
}
.logo img{
    width: 40%;
}
.logo
{
    float: left;
}
.landing ul
{
    float: right;
}
.clear
{
    clear: both;
}
.landing ul li{
    display: inline-block;
    margin-left: 20px;

}
.landing ul li a{
    color: white !important;
}
.text
{
    text-align: center;
   padding: 130px;
   color: white;
}
.text h1
{
    font-size: 90px;
    padding: 20px 0;
}

.btn{
    padding: 20px 20px;
    
}
.btn button 
{
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
}
.btn .btn1
{
background-color: rgba(66 , 47, 32);
}
.btn .btn2{
background-color: transparent;
}
.text a{
    width: 30px;
    height: 50px;
  background-color: transparent;
    display: block;
    margin: auto;
    border-radius: 20px;
   
    border: 1px solid white;

}
.text a span
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
   background-color: white;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
/* --------about---------- */
.about{
    margin: 50px 0;
}
.about .about-img  {
    width: 49%;
    display: inline-block;
   
}
.about .about-info
{
    width: 48%;
    display: inline-block;
  vertical-align: top;
  
 
}
.about .about-img  img{
   
    width: 90%;
}
.about-info ul img
{
    width: 50px;
    vertical-align: middle;
}
.about .about-info .about-text{
    text-align: center;
}
.about .about-text p{
    padding: 20px 0;
}
.about .about-info li{
    padding-bottom: 20px;
}
/* ------------ourofer--------------- */
.ourOfer
{
    background-color: #f8f8f898;
    margin: 50px 0;

}
.ourOfer .our-img {
    width: 49%;
    padding-left: 30px;
}
.ourOfer .our-img img{
    width: 100%;
}
.ourOfer .our-text{
    width: 49%;
    float: left;
}
.ourOfer .our-img {
    float: right;
}
.ourOfer .our-text {
  font-size: 20px;
}
.ourOfer .our-text p{
    padding: 30px 0;
}
.gallery-text{
    text-align: center;
}
/* ---------gallery--------- */
.gallery{
    margin: 50px 0;
    text-align: center;
}
.gallery .title p{
    padding: 20px 0;
}
.gallery-text p{
    padding: 20px 0;
}
.gallery .item{
    width: 33%;
    float: left;
}
.gallery .item img 
{
    width: 90%;
}

.blog{
margin: 50px 0;
}

.blog .blog-info , .ifrem{
    width: 50%;
    float: left;
}
.ifrem {
    padding: 0 30px;
}
.blog .blog-info .blog-text p{
    padding: 30px 20px;
}
.blog .blog-info img{
    width: 50px;
    vertical-align: middle;
}


/* contact------------ */

.contact {
    padding: 50px 0;
    background-color: #403D38;
    color: #ffffff96;
}
.contact .item1{
    float: left;
    width: 25%;
    padding: 0 20px;
}
.contact .item1 img{
    width: 20px;
}
.item1 h3{
    color: white;
    padding-bottom: 20px;
}
.item1 p{
    padding: 30px 0;
}
.item1 li{
   margin: 20px 0;
   border-bottom: 1px solid #beb5b52d;
   padding-bottom: 15px;
}


.footer {
    text-align: center;
    padding: 50px 0;
    background-color: #353330;
}
.footer-img img{
    text-align: center;
    width: 30%;
}
.footer p{
    padding: 20px ;
    color: #fff;
}
.footer .icons img{
width: 30px;
}